<section id="add-candidates">
  <form>
    {{view Ember.TextField valueBinding="newCandidateName" class="add-candidate"}}
    <input type="submit" value="Add Candidate" class="submit btn"
      {{action addCandidate}}>
  </form>
</section>

<section id="candidates">
  {{#each controller}}
    <article class="candidate">
      <p class="candidate-name">{{name}}</p>
    </article>
  {{/each}}
</section>
