{{partial "add-candidate"}}

<section id="candidates">
  {{#each candidate in controller}}
  <article class="candidate" {{action "showCandidate" candidate}}>
      <img {{bindAttr src='candidate.avatar_url'}}>
      <p class="candidate-name">{{candidate.name}}</p>
    </article>
  {{/each}}
</section>
